# TV SHOWS ODYSSEY: AN ANALYTICAL JOURNEY (Python and MySQL)

**SUMMARY**

In my TV Shows project, I conducted a comprehensive analysis of a 22-table dataset to ensure data consistency and integrity. Initially, I verified that there were no null values in any columns, applying exploratory data analysis (EDA) techniques to treat any issues found, and corrected data types using MySQL Workbench. Following this data preparation, I executed a series of complex queries using Python and MySQL connectivity, incorporating various functions such as joins, aggregate functions, subqueries, window functions, stored procedures, and common table expressions (CTEs). My queries encompassed a wide range of tasks, including retrieving lists of TV shows along with their release years and genres, counting total shows, and identifying those released after 2015. I analyzed genres to find the most common ones and the top five based on show count, as well as locating the highest-rated shows and those with ratings above 8. Additionally, I explored the most frequent creators, shows produced by 'ABC Productions,' and the total number of episodes per show. I also identified shows with more than five seasons, provided detailed episode lists including air dates and ratings, and retrieved language data. Finally, I assessed shows that were canceled or ended after December 31, 2020, and implemented stored procedures to retrieve shows by genre while ranking the top-rated shows and identifying those with the most seasons. This extensive analysis delivered valuable insights into genre trends, show ratings, and production details within the dataset.

In [ ]:
#importing libraries
import pandas as pd
import numpy as np

In [ ]:
air_dates=pd.read_csv("air_dates.csv")
air_dates

In [ ]:
air_dates.info()

In [ ]:
air_dates.isnull().sum()

In [ ]:
len(air_dates['date'].dropna()) / len(air_dates) * 100

In [ ]:
air_dates.isnull().sum()

In [ ]:
air_dates = air_dates.dropna()

In [ ]:
air_dates.shape

In [ ]:
air_dates.isnull().sum()

In [ ]:
air_dates.to_csv('air_dates_final.csv')

In [ ]:
created_by=pd.read_csv("created_by.csv")
created_by

In [ ]:
created_by.info()

In [ ]:
created_by.isnull().sum()

In [ ]:
created_by_types=pd.read_csv("created_by_types.csv")
created_by_types

In [ ]:
created_by_types.info()

In [ ]:
created_by_types.isnull().sum()

In [ ]:
genre_types=pd.read_csv("genre_types.csv")
genre_types

In [ ]:
genre_types.info()

In [ ]:
genre_types.isnull().sum()

In [ ]:
genres=pd.read_csv("genres.csv")
genres

In [ ]:
genres.info()

In [ ]:
genres.isnull().sum()

In [ ]:
language_types=pd.read_csv("language_types.csv")
language_types

In [ ]:
language_types.info()

In [ ]:
language_types.isnull().sum()

In [ ]:
languages=pd.read_csv("languages.csv")
languages

In [ ]:
languages.info()

In [ ]:
languages.isnull().sum()

In [ ]:
link_types=pd.read_csv("link_types.csv")
link_types

In [ ]:
link_types.info()

In [ ]:
links=pd.read_csv("links.csv")
links

In [ ]:
links.info()

In [ ]:
links.isnull().sum()

In [ ]:
network_types=pd.read_csv("network_types.csv")
network_types

In [ ]:
network_types.info()

In [ ]:
network_types.isnull().sum()

In [ ]:
networks=pd.read_csv("networks.csv")
networks

In [ ]:
networks.info()

In [ ]:
networks.isnull().sum()

In [ ]:
origin_country_types=pd.read_csv("origin_country_types.csv")
origin_country_types

In [ ]:
origin_country_types.info()

In [ ]:
origin_country_types.isnull().sum()

In [ ]:
production_companies=pd.read_csv("production_companies.csv")
production_companies

In [ ]:
production_companies.info()

In [ ]:
production_companies.isnull().sum()

In [ ]:
production_company_types=pd.read_csv("production_company_types.csv")
production_company_types

In [ ]:
production_company_types.info()

In [ ]:
production_company_types.isnull().sum()

In [ ]:
production_countries=pd.read_csv("production_countries.csv")
production_countries

In [ ]:
production_countries.info()

In [ ]:
production_countries.isnull().sum()

In [ ]:
production_country_types=pd.read_csv("production_country_types.csv")
production_country_types

In [ ]:
production_country_types.info()

In [ ]:
production_country_types.isnull().sum()

In [ ]:
show_votes=pd.read_csv("show_votes.csv")
show_votes

In [ ]:
show_votes.info()

In [ ]:
show_votes.isnull().sum()

In [ ]:
shows=pd.read_csv("shows.csv")
shows

In [ ]:
shows.info()

In [ ]:
shows.isnull().sum()

In [ ]:
shows.drop('overview' , axis=1 , inplace=True)
shows.drop('tagline' , axis=1 , inplace=True)

In [ ]:
shows.isnull().sum()

In [ ]:
shows

In [ ]:
shows.to_csv("shows_final.csv")

In [ ]:
spoken_language_types=pd.read_csv("spoken_language_types.csv")
spoken_language_types

In [ ]:
spoken_language_types.info()

In [ ]:
spoken_language_types.isnull().sum()

In [ ]:
spoken_languages=pd.read_csv("spoken_languages.csv")
spoken_languages

In [ ]:
spoken_languages.info()

In [ ]:
spoken_languages.isnull().sum()

In [ ]:
status=pd.read_csv("status.csv")
status

In [ ]:
status.info()

In [ ]:
types=pd.read_csv("types.csv")
types

In [ ]:
types.info()

In [ ]:
!pip install mysql-connector-python
import mysql.connector

In [ ]:
import mysql.connector
import getpass

# Prompt the user for database connection details
host = input("Enter your MySQL host (e.g., localhost): ")
user = input("Enter your MySQL username: ")
password = getpass.getpass("Enter your MySQL password: ")  # Hides password input
database = input("Enter your database name: ")

# Establish the connection using the provided details
try:
    tv_shows = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )
    print("Connection successful!")
except mysql.connector.Error as err:
    print(f"Error: {err}")

In [ ]:
mycursor=tv_shows.cursor()
mycursor

### <img src="C:\Users\Vishv Pratap Singh\Downloads\archive (2)\TV Shows Database ER Diagram.png">

## Creating the tables according to the image given above

**Creating table 'air_dates_final'**

In [ ]:
mycursor.execute("create table air_dates_final (is_first int, show_id int, date varchar(120))")

In [ ]:
c=("insert into air_dates_final(is_first,show_id,date) values(%s,%s,%s)")
v=air_dates.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'created_by'**

In [ ]:
mycursor.execute("create table created_by (show_id int, created_by_type_id int)")

In [ ]:
c=("insert into created_by(show_id, created_by_type_id) values (%s,%s)")
v=created_by.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'created_by_types'**

In [ ]:
mycursor.execute("create table created_by_types (created_by_type_id int, created_by_name varchar(50))")

In [ ]:
c=("insert into created_by_types(created_by_type_id, created_by_name) values (%s,%s)")
v=created_by_types.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'genre_type'**

In [ ]:
mycursor.execute("create table genre_types(genre_type_id int, genre_name varchar(50))")

In [ ]:
c=("insert into genre_types(genre_type_id, genre_name) values (%s,%s)")
v=genre_types.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'genres'**

In [ ]:
mycursor.execute("create table genres(show_id int, genre_type_id int)")

In [ ]:
c=("insert into genres (show_id, genre_type_id) values (%s,%s)")
v=genres.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'language_types'**

In [ ]:
mycursor.execute("create table language_types(language_type_id int, language_name varchar(100))")

In [ ]:
c=("insert into language_types(language_type_id, language_name) values (%s,%s)")
v=language_types.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'languages'**

In [ ]:
mycursor.execute("create table languages(show_id int, language_type_id int)")

In [ ]:
c=("insert into languages (show_id, language_type_id) values (%s,%s)")
v=languages.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'link_types'**

In [ ]:
mycursor.execute("create table link_types(link_type_id int, link_type varchar(100))")

In [ ]:
c=("insert into link_types(link_type_id,link_type) values (%s,%s)")
v=link_types.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'links'**

In [ ]:
mycursor.execute("create table links(link_type_id int, show_id int, link varchar (500))")

In [ ]:
c=("insert into links(link_type_id, show_id, link) values (%s,%s,%s)")
v=links.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'network_types'**

In [ ]:
mycursor.execute("create table network_types(network_type_id int, network_name varchar(200))")

In [ ]:
c=("insert into network_types(network_type_id,network_name) values(%s,%s)")
v=network_types.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'networks'**

In [ ]:
mycursor.execute("create table networks(show_id int, network_type_id int)")

In [ ]:
c=("insert into networks(show_id, network_type_id) values (%s,%s)")
v=networks.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'origin_country_types'**

In [ ]:
mycursor.execute("create table origin_country_types(origin_country_type_id int, origin_country_name varchar(500))")

In [ ]:
c=("insert into origin_country_types(origin_country_type_id, origin_country_name) values (%s,%s)")
v=origin_country_types.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'production_companies'**

In [ ]:
mycursor.execute("create table production_companies(show_id int, production_company_type_id int)")

In [ ]:
c=("insert into production_companies (show_id, production_company_type_id) values (%s,%s)")
v=production_companies.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'production_company_types'**

In [ ]:
mycursor.execute("create table production_company_types(production_company_type_id int, production_company_name varchar(500))")

In [ ]:
c=("insert into production_company_types(production_company_type_id, production_company_name) values (%s,%s)")
v=production_company_types.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'production_countries'**

In [ ]:
mycursor.execute("create table production_countries(show_id int, production_country_type_id int, origin_country_type_id int)")

In [ ]:
c=("insert into production_countries(show_id, production_country_type_id, origin_country_type_id) values (%s,%s,%s)")
v=production_countries.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'production_countries_types'**

In [ ]:
mycursor.execute("create table production_country_types(production_country_type_id int, production_country_name varchar(500))")

In [ ]:
c=("insert into production_country_types(production_country_type_id, production_country_name) values (%s,%s)")
v=production_country_types.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'show_votes'**

In [ ]:
mycursor.execute("create table show_votes(vote_count int, vote_average float, show_id int)")

In [ ]:
c=("insert into show_votes(vote_count, vote_average, show_id) values (%s,%s,%s)")
v=show_votes.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'shows'**

In [ ]:
shows.dropna(inplace=True)
shows.info()

In [ ]:
mycursor.execute("create table shows(show_id int, name varchar(500), number_of_seasons int, number_of_episodes int, adult int, in_production int, original_name varchar(500), popularity float, eposide_run_time int, type_id int, status_id int)")

In [ ]:
c=("insert into shows(show_id,name,number_of_seasons,number_of_episodes,adult,in_production,original_name,popularity,eposide_run_time,type_id,status_id) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)")
v=shows.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'spoken_language_types'**

In [ ]:
mycursor.execute("create table spoken_language_types(spoken_language_type_id int, spoken_language_name varchar(500))")

In [ ]:
c=("insert into spoken_language_types(spoken_language_type_id, spoken_language_name) values (%s,%s)")
v=spoken_language_types.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'spoken_languages'**

In [ ]:
mycursor.execute("create table spoken_languages(show_id int, spoken_language_type_id int)")

In [ ]:
c=("insert into spoken_languages(show_id, spoken_language_type_id) values (%s,%s)")
v=spoken_languages.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'status'**

In [ ]:
mycursor.execute("create table status(status_id int, status_name varchar(500))")

In [ ]:
c=("insert into status(status_id, status_name) values (%s,%s)")
v=status.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

**Creating table 'types'**

In [ ]:
mycursor.execute("create table types(type_id int, type_name varchar(500))")

In [ ]:
c=("insert into types (type_id, type_name) values (%s,%s)")
v=types.values.tolist()

In [ ]:
mycursor.executemany(c,v)

In [ ]:
tv_shows.commit()

## Questions and Queries

**Q1.Retrieve a list of all TV shows along with their release year and genre.**

In [ ]:
#query
mycursor.execute("select shows.name , air_dates_final.date, genre_types.genre_name from shows join air_dates_final on shows.show_id=air_dates_final.show_id join genres on air_dates_final.show_id=genres.show_id join genre_types on genres.genre_type_id=genre_types.genre_type_id")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q2.Find the total number of TV shows in the dataset.**

In [ ]:
#query
mycursor.execute("select count(name) from shows")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q3.List all TV shows that were released after the year 2015.**

In [ ]:
#query
mycursor.execute("select shows.name, air_dates_final.date from shows join air_dates_final on shows.show_id=air_dates_final.show_id where air_dates_final.date > '2015-12-31'")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q4.Find the most common genre of TV shows in the dataset.**

In [ ]:
#query
mycursor.execute("select count(genres.genre_type_id) as 'Most_Common_Genre' , genre_types.genre_name from genres join genre_types on genres.genre_type_id=genre_types.genre_type_id group by genre_types.genre_name order by Most_Common_Genre desc limit 1")

In [ ]:
#query
for i in mycursor:
    print(i)

**Q5.List the top 5 genres based on the number of TV shows.**

In [ ]:
#query
mycursor.execute("select count(genres.show_id) as 'Number_of_shows', genre_types.genre_name from genres join genre_types on genres.genre_type_id=genre_types.genre_type_id group by genre_types.genre_name order by Number_of_shows desc limit 5")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q6.Find the TV shows with the highest rating.**

In [ ]:
#query
mycursor.execute("select shows.name, show_votes.vote_count, show_votes.vote_average from shows join show_votes on shows.show_id=show_votes.show_id order by show_votes.vote_count desc limit 1")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q7.List all TV shows with a rating greater than 8.**

In [ ]:
#query
mycursor.execute("select shows.name, show_votes.vote_average from shows join show_votes on shows.show_id=show_votes.show_id where show_votes.vote_average>'8' order by show_votes.vote_average desc")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q8.Find the most frequent creators across all TV shows.**

In [ ]:
#query
mycursor.execute("select created_by_types.created_by_name, count(created_by.show_id) as 'Number_of_shows' from created_by_types join created_by on created_by_types.created_by_type_id=created_by.created_by_type_id group by created_by_types.created_by_name order by Number_of_shows desc")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q9.Retrieve TV shows which are produced by 'ABC Productions'.**

In [ ]:
#query
mycursor.execute("select shows.name, production_company_types.production_company_name from shows join production_companies on shows.show_id=production_companies.show_id join production_company_types on production_companies.production_company_type_id=production_company_types.production_company_type_id where production_company_types.production_company_name='ABC Productions'")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q10.Find the total number of episodes for each TV show.**

In [ ]:
#query
mycursor.execute("select name, number_of_episodes from shows order by number_of_episodes desc")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q11.Retrieve the TV shows that have more than 5 seasons.**

In [ ]:
#query
mycursor.execute("select name from shows where number_of_seasons > '5'")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q12.List all episodes of a specific show, along with their air dates and ratings.**

In [ ]:
#query
mycursor.execute("select shows.name, shows.number_of_episodes, air_dates_final.date, show_votes.vote_average from shows join air_dates_final on shows.show_id=air_dates_final.show_id join show_votes on air_dates_final.show_id=show_votes.show_id")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q13.Retrieve a list of all TV shows along with their language.**

In [ ]:
#query
mycursor.execute("select shows.name, spoken_language_types.spoken_language_name from shows join spoken_languages on shows.show_id=spoken_languages.show_id join spoken_language_types on spoken_languages.spoken_language_type_id=spoken_language_types.spoken_language_type_id")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q14.Find the most common language of TV shows in the dataset.**

In [ ]:
#query
mycursor.execute("select spoken_language_types.spoken_language_name, count(spoken_languages.spoken_language_type_id) as 'Most_common_language' from spoken_language_types join spoken_languages on spoken_language_types.spoken_language_type_id=spoken_languages.spoken_language_type_id group by spoken_language_types.spoken_language_name order by Most_common_language desc")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q15.Retrieve TV shows that are canceled.**

In [ ]:
#query
mycursor.execute("select shows.name from shows join status on shows.status_id=status.status_id where status.status_name='Canceled'")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q16.Find TV shows that ended after '2020-12-31'.**

In [ ]:
#query
mycursor.execute("select status.status_name, shows.name, air_dates_final.date from status join shows on status.status_id=shows.status_id join air_dates_final on shows.show_id=air_dates_final.show_id where air_dates_final.date>'2020-12-31' and status.status_name='Ended'")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q17.Stored Procedure to Retrieve Shows by Genre:**

In [ ]:
#query
# Step 1: Create the stored procedure (without DELIMITER)
try:
    mycursor.execute("""
    CREATE PROCEDURE GetShowsByGenre(IN genre_name VARCHAR(50))
    BEGIN
        SELECT shows.name
        FROM shows 
        JOIN genres ON shows.show_id = genres.show_id 
        JOIN genre_types ON genres.genre_type_id = genre_types.genre_type_id
        WHERE genre_types.genre_name = genre_name;
    END
    """)
    tv_shows.commit()
    print("Stored procedure created successfully!")
except mysql.connector.Error as err:
    print(f"Error creating procedure: {err}")

In [ ]:
#output
# Step 2: Call the stored procedure
genre = input("Enter genre (e.g., Comedy): ")

try:
    mycursor.callproc('GetShowsByGenre', [genre])
    
    # Fetch the result
    for result in mycursor.stored_results():
        rows = result.fetchall()
        for row in rows:
            print(row)
except mysql.connector.Error as err:
    print(f"Error calling procedure: {err}")

**Q18.Find the top 5 highest-rated TV shows with their genre**

In [ ]:
#query
# SQL Query with CTE
mycursor.execute("""
WITH TopShows AS ( 
    SELECT shows.name, genre_types.genre_name, show_votes.vote_average
    FROM shows
    JOIN genres ON shows.show_id = genres.show_id
    JOIN genre_types ON genres.genre_type_id=genre_types.genre_type_id
    JOIN show_votes ON shows.show_id = show_votes.show_id
    ORDER BY show_votes.vote_average DESC
    LIMIT 5
)
SELECT * FROM TopShows;
""")

In [ ]:
#output
# Print the results
for i in mycursor:
    print(i)

**Q19.Find TV Shows with the Most Seasons**

In [ ]:
#query
mycursor.execute("""
SELECT name, number_of_seasons 
FROM shows
WHERE number_of_seasons > (SELECT AVG(number_of_seasons) AS seasons FROM shows);
""")

In [ ]:
#output
for i in mycursor:
    print(i)

**Q20.Rank TV Shows by Ratings**

In [ ]:
#query
mycursor.execute("""
SELECT  
shows.name,show_votes.vote_average, genre_types.genre_name,
RANK() OVER (PARTITION BY genre_types.genre_name ORDER BY show_votes.vote_average DESC) AS rnk
FROM shows join show_votes on shows.show_id=show_votes.show_id join genres on show_votes.show_id=genres.show_id join genre_types on genres.genre_type_id=genre_types.genre_type_id
""")

In [ ]:
#output
for i in mycursor:
    print(i)